<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477027457338-euaa7s91f8f7i9632rehonb0dqedm3bo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477027457338-euaa7s91f8f7i9632rehonb0dqedm3bo</string>
	<key>API_KEY</key>
	<string>AIzaSyDBUQrfZAR9ImDdUO6fN_ADBXSftalIbkk</string>
	<key>GCM_SENDER_ID</key>
	<string>477027457338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.metanonia.app</string>
	<key>PROJECT_ID</key>
	<string>metanoniawallet</string>
	<key>STORAGE_BUCKET</key>
	<string>metanoniawallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477027457338:ios:70d2743f5c93ab91189803</string>
</dict>
</plist>